<html>
  <head></head>
  <body>
    <p>
    	<p>
       The SECRET NUMBER is: <%= number %> <br>
       </p>
        Enter guess here:
       <form>
           <input type='text' name='guess' />
           <input type='submit' value='Guess!' />
       </form>
       <p>
       You're guess is <%= guess %>
       </p>
    </p>
  </body>
</html>